<div class="dashboard-container">

    <div>
        <section-header value="Keywords"></section-header>
        <p class="keywords-c__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus sagittis ornare aenean nec in eget. Diam in ultrices vitae magna odio. Consequat, quis purus mi in. Fusce maecenas neque, et sit feugiat laoreet.</p>
        <keywords-input></keywords-input>
    </div>


    <div>
        <section-header value="Metrics"></section-header>
        <div class="metrics-c"
         [class.metrics-c--large]="global.bigMode" >
            <metric-total-tweets-card></metric-total-tweets-card>
            <metric-total-tweets-card></metric-total-tweets-card>
            <metric-total-tweets-card></metric-total-tweets-card>
        </div>
    </div>
   

    <div class="graphs-c" [class.graphs-c--large]="global.bigMode">
        <div>
            <section-header value="Line Chart"></section-header>
            <line-chart-card></line-chart-card>
        </div>
    
        <div>
            <section-header value="Bar Chart"></section-header>
            <bar-chart-card></bar-chart-card>
        </div>
    </div>

    <div>
        <section-header value="Tweets"></section-header>
        <div class="tweet-c">
            <tweet-card></tweet-card>
            <tweet-card></tweet-card>
            <tweet-card></tweet-card>
            <tweet-card></tweet-card>
            <tweet-card></tweet-card>
        </div>
    </div>
</div>