:host{
    display: grid;
    gap: 1rem;
}

h2{
    margin:0;
}

.body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    max-width: 60ch;
    color: #999999;
}