<div class="max-w-4xl py-4">
    <p class="text-4xl font-bold mb-4 text-primary2">Instructions</p>
    <ul class="list-disc ml-4">
        <li class="text-baseTextColor text-lg">
            To populate the dashboard, you must add keywords to the keyword input field.
        </li>
        <li class="text-baseTextColor text-lg">
            Entering "#Helloworld" as a keyword will show tweets that contain the hashtag "#Helloworld"
        </li>
        <li class="text-baseTextColor text-lg">
            Entering "@BarackObama" will include that mention the user "@BarackObama".
        </li>
        <li class="text-baseTextColor text-lg">
            Entering "from:BarackObama" will include tweets made by the user "@BarackObama"
        </li>
        <li class="text-baseTextColor text-lg">
            Entering "Hello World" will include tweets that contain the text "Hello World"        
        </li>
    </ul>
</div>