<div class="max-w-5xl mx-auto px-12 pt-12">
  <div class="mb-10">
    <landing-section></landing-section>
  </div>

  <keyword-section></keyword-section>

  <div *ngIf="store.tweet_count != undefined">
    <metrics-section></metrics-section>
    <charts-section></charts-section>
    <tweets-section></tweets-section>
  </div>

  <div class="loader w-full flex justify-center mt-4 mb-4" [ngClass]="{
    'opacity-0': !store.isLoading
  }">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>