<mat-form-field class="keywords-form" appearance="outline">
    <mat-label>Select Keywords</mat-label>
    <mat-chip-list #keywordList aria-label="Fruit selection">
      <mat-chip *ngFor="let keyword of store.keywords let i = index" 
        class="group2-chip"
        [attr.data-index]="i" 
        [removable]="true"
        (removed)="store.removeKeyword(i)"
      >
        {{keyword.value}}
        <button matChipRemove>
            <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input 
        placeholder="New Keywords..."
        [matChipInputFor]="keywordList"
        (matChipInputTokenEnd)="addKeyword($event)"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    >
    </mat-chip-list>
</mat-form-field>