<div class="mb-12">

    <div class="border px-4 border-primary1 rounded-md w-full">
        <div class="mt-4 border-b border-primary1">
            <p class="text-2xl">
                <span class="font-thin" >Total Tweets: </span>
                <span class="font-bold text-primary1">2057</span>
            </p>
        </div>

        <div class="flex my-4">
            <div class=" flex-1 mt-3 grid grid-cols-5 grid-rows-2">
                <div class="row-span-2 col-span-2" >
                    <div class="flex items-center gap-2">
                        <img class="w-12 h-12" src="/assets/happy.svg" alt="">
                        <p class="p-0 m-0 text-4xl font-bold text-primary1">47%</p>
                    </div>
                    <p class="text-3xl mt-2 font-thin" >Positive</p>
                </div>

                <div class="col-span-3 row-span-1 mt-2" >
                    <div class="flex items-center gap-2">
                        <img class="w-8 h-8 mr-3" src="/assets/happy.svg" alt="">
                        <p class="text-xl p-0 m-0 font-thin" >
                            <span class="font-medium">17%</span>
                            Negative
                        </p>
                    </div>
                </div>

                <div class="col-span-3 row-span-1" >
                    <div class="flex items-center gap-2">
                        <img class="w-8 h-8 mr-3" src="/assets/happy.svg" alt="">
                        <p class="text-xl p-0 m-0 font-thin" >
                            <span class="font-medium">27% </span>
                            Neutral
                        </p>
                    </div>

                </div>
            </div>

            <div class="flex-1 flex flex-col border-l border-primary1">
                <div class="flex border-b border-gray-100 py-2 mx-2" *ngFor="let val of [1,2,3]" 
                    [ngClass]="{'border-b border-gray-100' : val != 3}"
                >
                    <p class="flex-1 ml-6 my-0 text-primary1 font-bold ">
                        #oprutten
                    </p>
                    <p class="flex-1 my-0">
                        <span class="font-bold">123 </span>
                        <span>Tweets</span>
                    </p>
                    <p class="flex-1 my-0">
                        <span class="font-bold">35% </span>
                        <span>Occurances</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>